body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background: linear-gradient(rgb(37, 39, 42), rgba(3, 95, 164, 0.874));
 }

 .level-selection{
  margin: 20px;
  text-transform: uppercase;
  /* font-size: large; */
  font-weight: 700;
  color: rgb(231, 215, 224);
 }
  
 h1 {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.449);
  background: linear-gradient(white,rgb(90, 73, 73));
  overflow: hidden;
  border-radius: 10px;
  padding: 15px;
 }
  .container {
    height: 115vh;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .market,
  .portfolio {
    margin-bottom: 30px;
    padding: 25px;
    border: 1px solid #f9f9f9be;
    border-radius: 5px;
    background: linear-gradient(rgba(78, 181, 237, 0.653),rgba(214, 27, 27, 0.905));
    color: white;
  }
  
  .currencies,
  .holdings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .currency,
  .holding {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 150px;
    background: rgba(158, 142, 142, 0.255);
  }

  .currency:hover{
    box-shadow: 0 0 10px white;
    transition: 1.2s;
  }

  .holding:hover{
    box-shadow: 0 0 10px white;
    transition: 1.2s;
  }
  
  button {
    border:3px solid black;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #194377;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  button:hover:not(:disabled) {
    background-color: #062c31;
  }
  
  .message {
    margin-top: 20px;
    font-weight: bold;
    color: white;
  }
